/*External CSS style*/

html {
  scroll-behavior: smooth;
}

/*Added background color: https://www.w3schools.com/css/css_background.asp*/
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 150%;
  font-size: 120%;
  background-color: rgb(255, 242, 233);
}

/*Added background image: https://www.w3schools.com/css/css_background.asp*/
header {
  text-align: center;
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('../assets/images/header.jpg'); */
  background-color: aquamarine;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: auto;
}

section{
    scroll-margin-top: 7em; /*Reference: https://www.w3schools.com/cssref/css_pr_scroll-margin.php*/
    padding-bottom:40px;
}

#container {
  width: 75%;
  background-color: lightgrey;
  padding: 40px;
  margin: auto;
    width: 75%;
    background-color: lightgrey;
    padding: 40px;
    margin: auto;
    margin-top: 54px;
}

.socialMedia img {
  height: 35px;
  padding-top: 20px;
}

section {
  padding-bottom: 40px;
}

h1 {
  padding-top: 30px;
  font-size: 200%;
  text-transform: uppercase; /*Reference: https://www.w3schools.com/cssref/pr_text_text-transform.php*/
  margin: 0;
}

h3 {
  padding-top: 20px;
  text-transform: uppercase;
  color: navy;
  font-size: larger;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Reference: https://www.w3schools.com/cssref/pr_class_float.php*/
.left {
  float: left;
  margin-right: 50px;
}

.right {
  float: right;
  margin-left: 50px;
}

.circle {
  width: 300px;
  border-radius: 50%;
}

#navbar {
    width:100%;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    padding-top: 15px;
    padding-bottom:15px;
    display: block;
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

/*Reference:https://www.w3schools.com/cssref/sel_hover.php*/
#navbar a:hover {
    background-color: cornflowerblue;
    color: black;
}

/*Reference: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

footer {
  background-color: #333;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: medium;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  background-color: rgb(199, 199, 199);
}

.nav-bar {
  background-color: aliceblue;
}

/* =========== Contact page =========== */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Gill Sans", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;
  padding-bottom: 30px;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}
